@import 'https://fonts.googleapis.com/css?family=Open+Sans:600,700';

/* ref: https://codepen.io/FluidOfInsanity/pen/yaLRjd */

* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align : center;
    margin-left: auto;
    margin-right: auto;
}

body {
background: #000000;
color:#f2f2f2;
background: -webkit-linear-gradient(to left, #1b3852 , #1e3549);
background: linear-gradient(to left, #11293f , #0f1a24);        
}
h2 {
    text-align: center;
    font-size: 2.4em;
    color: #f2f2f2;
}
.container {
    display: block;
    text-align: center;
}
#myDiv
{
    background-color: #1e3549;
    /*background-image: ;*/
}
